.header {
    display: flex;
    flex-direction: column;
    padding-left: 16rem;
    width: 100%;
    height: 100vh;
  }
  header {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 50px;
    background-color: rgb(24, 40, 66);
  }
  .logoTitle {
    color: white;
    margin-left: 10%;
  }
  h2 {
    color: white;
    position: absolute;
    left: 40%;
    top: 12px;
    font-size: 20px;
  }
  
 
  