.sidebar-generos {
  height: 100vh;
  width: 16rem;
  position: fixed;
}
.sidebar-title {
  text-align: center;
  padding-top: 8px;
  font-size: 25px;
  color: #fff;
}
.contenedor-generos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  color: #fff;
  margin-top: 60px;
  margin-left: 10px;
}
.contenedor-generos button {
  font-size: 0.9rem;
  width: 90px;
  padding: 3px;
  border: none;
}
.btn {
  background-color: rgb(24, 40, 66);
  color: #fff;
}
.btn:hover {
  background-color: yellow;
  color: black;
}
.active {
  background-color: yellow;
  color: black;
}
.sidebar-año {
  text-align: center;
  padding-top: 20px;
  font-size: 25px;
  color: #fff;
}
.container-inputs {
  display: flex;
  gap: 10px;
  align-items: center;
  padding-top: 10px;
}
.sidebar-input {
  text-align: center;
  margin: 10px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

span {
  color: #fff;
  margin-left: 5px;
}
.sidebar-buscar {
  display: flex;
  align-items: center;
  justify-content: center;
 
}
.sidebar-buscar button {
  background-color: yellow;
  border: none;
  width: 150px;
  height: 30px;
  border-radius: 6px;
  margin-top: 40px;
  font-size: 16px;
  color: black;
}
button {
  cursor: pointer;
  border-radius: 6px;
}
.sidebar-ordenar {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
select {
  width: 150px;
  height: 30px;
  border-radius: 6px;
  border: none;
  text-align: center;
  font-size: 16px;
}
select:hover {
  background-color: yellow;
  color: black;
  transform: scale(1.1);
}
