* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #000;
}

.sidebar-generos {
  height: 100vh;
  width: 16rem;
  position: fixed;
}
.sidebar-title {
  text-align: center;
  margin-bottom: 40px;
  padding-top: 10px;
  font-size: 25px;
  color: #fff;
}
.contenedor-generos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  color: #fff;
  margin-top: 100px;
}
.contenedor-generos button {
  font-size: 16px;
  color: #fff;
  background-color: #000;
  border: none;
}
.sidebar-año {
  text-align: center;
  margin-bottom: 40px;
  padding-top: 50px;
  font-size: 25px;
  color: #fff;
}
.container-inputs {
  display: flex;
  gap: 10px;
  align-items: center;
}
.sidebar-input {
  width: 100%;
  text-align: center;
  padding: 10px 15px;
  border: none;
  border-radius: 20px;
  font-weight: 600;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

span {
  color: #fff;
}
.sidebar-buscar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar-buscar button {
  color: #000;
  background-color: yellow;
  border: none;
  width: 150px;
  height: 30px;
  border-radius: 6px;
  margin-top: 50px;
  font-size: 16px;
}
button {
  cursor: pointer;
}
.header {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100vh;
  padding-left: 16rem;
}
.logoTitle {
  color: white;
}
h2 {
  color: white;
  position: absolute;
  left: 50%;
  top: 15px;
}
.login {
  position: absolute;
  left: 77%;
  top: 15px;
  padding: 5px;
  border-radius: 7px;
  background-color: rgb(214, 29, 34);
  color: white;
  border: none;
}
button:hover {
  transform: scale(1.1);
}
.signOut {
  position: absolute;
  left: 87%;
  top: 15px;
  padding: 5px;
  border-radius: 7px;
  background-color: rgb(214, 29, 34);
  color: white;
  border: none;
}
.main-grid {
  flex-grow: 0;
  margin-top: 100px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(6, 1fr);
}
.main__media-titulo {
  color: #fff;
  text-align: center;
}
.main__media-fecha {
  color: #fff;
  text-align: center;
}
.main__media-img img {
  width: 200px;
}

.footer {
  background-color: #000;
  padding: 1rem;
  color: #fff;
  text-align: center;
}
