* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(24, 40, 66);
}

.sidebar-generos {
  height: 100vh;
  width: 16rem;
  position: fixed;
}
.sidebar-title {
  text-align: center;
  margin-bottom: 40px;
  padding-top: 8px;
  font-size: 25px;
  color: #fff;
}
.contenedor-generos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  color: #fff;
  margin-top: 60px;
  margin-left: 10px;
}
.contenedor-generos button {
  font-size: 14px;
  width: 80px;
  padding: 3px;
  color: #fff;
  background-color: rgb(24, 40, 66);
  border: none;
}
.sidebar-año {
  text-align: center;
  margin-bottom: 20px;
  padding-top: 50px;
  font-size: 25px;
  color: #fff;
}
.container-inputs {
  display: flex;
  gap: 10px;
  align-items: center;
}
.sidebar-input {
 width: 100px;
 padding: 5px;
  text-align: center;
 margin: 10px;
  border: none;
  border-radius: 15px;
  font-weight: bold;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

span {
  color: #fff;
  margin-left: 5px;
}
.sidebar-buscar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar-buscar button {
  background-color: yellow;
  border: none;
  width: 150px;
  height: 30px;
  border-radius: 6px;
  margin-top: 50px;
  font-size: 16px;
}
button {
  cursor: pointer;
  border-radius: 6px;
}
.header {
  display: flex;
  flex-direction: column;
  padding-left: 16rem;
  width: 100%;
  height: 100vh;
}
header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 50px;
  background-color: rgb(24, 40, 66);
}
.logoTitle {
  color: white;
}
h2 {
  color: white;
  position: absolute;
  left: 25%;
  top: 12px;
}
.login {
  position: absolute;
  left: 65%;
  top: 15px;
  padding: 5px;
  border-radius: 7px;
  background-color: rgb(214, 29, 34);
  color: white;
  border: none;
}
button:hover {
  transform: scale(1.1);
}
.signOut {
  position: absolute;
  left: 74%;
  top: 15px;
  padding: 5px;
  border-radius: 7px;
  background-color: rgb(214, 29, 34);
  color: white;
  border: none;
}
.grid-movie{
  flex-grow: 0;
  margin-top: 100px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(6, 1fr);
  text-align: center;
}
.title-movie {
  color: #fff;
 
}
.movie-date {
  color: #fff;
  text-align: center;
}
.paginacion {
  display: flex;
  justify-content: end;
  gap: 20px;
  margin-right: 57px;
  padding-bottom: 20px;
 
}
.paginacion button {
  width: 110px;
  height: 35npmpx;
  background-color: rgb(214, 29, 34);
  border: none;
  color: #fff;
  font-size: 16px;
 
}
.fa-solid {
 margin: 10px;
}
.img-movie {
  border-radius: 10px;
  border: 1px solid yellow;
}

