/* Estilos generales de la aplicacion */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(24, 40, 66);
  font-family: 'Montserrat', sans-serif;
}
main{
  width: 100%;
  height: 100vh;
}
.pie-page{
  width: 100%;
  height: 50px;
 padding: 40px;
 color: #fff;
 font-size: 18px;
 text-align: center;
 letter-spacing: 3px;
  
}
button:hover {
  transform: scale(1.1);
}
